<form method="post" action="{{ path('page_delete', {'title': page.title}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette page ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
