{% extends 'base.html.twig' %}

{% block title %}Reset mot de passe{% endblock %}

{% block body %}
<!-- Page Heading/Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path('home') }}">Accueil</a>
	</li>
	<li class="breadcrumb-item active">Réinitialisation</li>
</ol>

    <h1>Réinitialisation de votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">valider</button>
    {{ form_end(resetForm) }}
{% endblock %}
