{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<h1>Category index</h1>
<table>
    <tbody>
        {% for category in categories %}
        <tr>
            <div>
                <a href="{{ path('category_show_article', {'category': category.id}) }}">{{ category.name }}</a>
                </td>
            </div>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">Aucune catégorie</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}