{% extends 'base.html.twig' %}

{% block title %}Thèmes creation{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('category_index')}}">Thèmes</a>
    </li>
    <li class="breadcrumb-item active">Création</li>
</ol>

<h1>Création d'un thème</h1>

{# Admin only #}
{% if is_granted('ROLE_ADMIN') %}
{{ include('category/_form.html.twig') }}
<a href="{{ path('category_index') }}">retour</a>

{% else %}
<a>Permission refusée, contacter l'administrateur</a>
{% endif %}



{% endblock %}