{% extends 'base.html.twig' %}

{% block title %}New Thème{% endblock %}

{% block body %}

<h1>Create new Thèmes</h1>

{# Admin only #}
{% if is_granted('ROLE_ADMIN') %}
{{ include('category/_form.html.twig') }}
<a href="{{ path('category_index') }}">back to list</a>

{% else %}
<a>Permission refusée, contacter l'administrateur</a>
{% endif %}



{% endblock %}