{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
<h1>Thèmes</h1> 

<table class="table">
    <tbody>
        <tr>
            <th>Thème : {{category.name }}</th>
        </tr>
    </tbody>
</table>

<!-- liste des articles de la catégorie -->
<a>Articles :
    {% for article in category.articles %}
    <li>{{article.id}} - {{article.title}}</li>
    {% else %}
    <li>Aucun article pour ce thème</li>
    {% endfor %}
</a>

<a href="{{ path('category_index') }}">back to list</a>

{% endblock %}