<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Général</div>
                            <a class="nav-link" href="index.html">
                                Accueil
                            </a>
                            <a class="nav-link" href="index.html">
                                Thèmes
                            </a>
                            <a class="nav-link" href="index.html">
                                Tags
                            </a>
                            <a class="nav-link collapsed" href="#collapseArticles" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseArticles">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                                Articles
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>    
                            <div class="collapse" id="collapseArticles">
                                <div class="article-children">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Tous les articles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Derniers articles ajoutés</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Créer un article</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Articles en attente de validation</a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Utilisateurs
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUsers">
                            <div class="article-children">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Tous les utilisateurs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Utilisateurs en attente de validation</a>
                                </li>
                            </ul>
                            </div>
                            </div>
                            <div class="sb-sidenav-menu-heading">Contact</div>
                            <div class="sb-sidenav-menu-heading">Qui sommes nous?</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
                                Aide
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseHelp">
                            <div class="article-children">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Le design à l'Audap : késako?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Fonctionnement et ligne de conduite</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Premiers pas sur l’outil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Comment contribuer?</a>
                                </li>
                            </ul>
                            </div>
                            </div>
                            <div class="sb-sidenav-menu-heading">Ressources</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-globe-africa"></i></div>
                                L'univers web de l'Audap
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseAbout">
                            <div class="article-children">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Le site de l'Audap</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Site obs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Notre site presse</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Le site Netvibes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Le site photothèque</a>
                                </li>
                            </ul>
                            </div>
                            </div>
                            </nav>