{% extends 'base.html.twig' %}

{% block title %}Edition du mot clé
{% endblock %}

{% block body %}

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('home') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('tag_index')}}">Mots-clés</a>
		</li>
		<li class="breadcrumb-item active">Edition</li>
	</ol>
	<h1>Edition du mot clé</h1>

	{# Admin only #}
	{% if is_granted('ROLE_ADMIN') %}

		{{ include('tag/_form.html.twig', {'button_label': 'Sauver'}) }}
		
	<div class="pb-4 pt-4">
    <a href="{{ path('tag_index') }}"><i class="fas fa-arrow-circle-left mr-2"></i>Retour</a>
    </div>

	{% else %}
		<a>Permission refusée, contacter l'administrateur</a>
	{% endif %}

{% endblock %}
