{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<img src="{{ asset('build/stationery-stack.png') }}" alt="sheets-pile">
<h1>Oups...</h1>
<p>Il semblerait que la page que vous recherchez n'a pas été trouvée.</p>
{% endblock %}