{% extends 'base.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('article_index')}}">Articles</a>
    </li>
    <li class="breadcrumb-item active">Création</li>
</ol>


	<h1>Création d'un article</h1>

	{{ include('article/_form.html.twig') }}

    <div class="pb-4 pt-4">
    <a href="{{ path('article_index') }}"><i class="fas fa-arrow-circle-left mr-2"></i>Retour</a>
    </div>

{% endblock %}
